In [1]:
import numpy as np
import pandas as pd

Sales - the turnover for any given day (this is what you are predicting) <br>
Customers - the number of customers on a given day <br>
Open - an indicator for whether the store was open: 0 = closed, 1 = open <br>
StateHoliday - indicates a state holiday. Normally all stores, with few exceptions, are closed on state holidays. <br>
Note that all schools are closed on public holidays and weekends. a = public holiday, b = Easter holiday, c = Christmas, 0 = None <br>
SchoolHoliday - indicates if the (Store, Date) was affected by the closure of public schools <br>
StoreType - differentiates between 4 different store models: a, b, c, d <br>
Assortment - describes an assortment level: a = basic, b = extra, c = extended <br>
CompetitionDistance - distance in meters to the nearest competitor store <br>
CompetitionOpenSince[Month/Year] - gives the approximate year and month of the time the nearest competitor was opened <br>
Promo - indicates whether a store is running a promo on that day <br>
Promo2 - Promo2 is a continuing and consecutive promotion for some stores: 0 = store is not participating, 1 = store is participating <br>
Promo2Since[Year/Week] - describes the year and calendar week when the store started participating in Promo2 <br>
PromoInterval - describes the consecutive intervals Promo2 is started, naming the months the promotion is started anew. E.g. "Feb,May,Aug,Nov" means each round starts in February, May, August, November of any given year for that store <br>

In [2]:
dtype = {"Store": "int", "DayOfWeek": "int", "Date": "str", "Customers": "int", "Open": "int",
         "Promo": "int", "StateHoliday": "str", "SchoolHoliday": "int", "Sales": "int"}

In [28]:
train = pd.read_csv('../datasets/rossmann/train.csv', parse_dates=[2], dtype=dtype)
test = pd.read_csv('../datasets/rossmann/test.csv', parse_dates=[3])
stores = pd.read_csv('../datasets/rossmann/store.csv', dtype=dtype)

In [29]:
train.shape, test.shape, stores.shape

((1017209, 9), (41088, 8), (1115, 10))

In [30]:
train.isnull().sum()

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

In [31]:
test.isnull().sum()

Id                0
Store             0
DayOfWeek         0
Date              0
Open             11
Promo             0
StateHoliday      0
SchoolHoliday     0
dtype: int64

In [32]:
stores.isnull().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [33]:
test['Open'].value_counts(dropna=False)

 1.0    35093
 0.0     5984
NaN        11
Name: Open, dtype: int64

In [34]:
test['Open'].fillna(1, inplace=True)

In [35]:
test['Open'].value_counts(dropna=False)

1.0    35104
0.0     5984
Name: Open, dtype: int64

In [36]:
stores['CompetitionOpenSinceMonth'].value_counts(dropna=False)
stores['CompetitionOpenSinceMonth'].fillna(0.0, inplace=True)

In [37]:
stores['CompetitionOpenSinceYear'].value_counts(dropna=False)
stores['CompetitionOpenSinceYear'].fillna(0.0, inplace=True)

In [38]:
stores['Promo2SinceWeek'].value_counts(dropna=False)
stores['Promo2SinceWeek'].fillna(0.0, inplace=True)

In [39]:
stores['Promo2SinceYear'].value_counts(dropna=False)
stores['Promo2SinceYear'].fillna(0.0, inplace=True)

In [40]:
stores['PromoInterval'].value_counts(dropna=False)
stores['PromoInterval'].fillna('UNK', inplace=True)

In [42]:
stores['CompetitionDistance'].value_counts(dropna=False)
stores['CompetitionDistance'].fillna(0.0, inplace=True)

In [43]:
stores.isnull().sum()

Store                        0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64

In [45]:
stores.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,UNK
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,0.0,0.0,UNK
4,5,a,a,29910.0,4.0,2015.0,0,0.0,0.0,UNK

In [44]:
train.shape

(1017209, 9)

In [47]:
train = train.merge(stores, on='Store', how='left')

In [48]:
train.shape

(1017209, 18)

In [49]:
train.isnull().sum()

Store                        0
DayOfWeek                    0
Date                         0
Sales                        0
Customers                    0
Open                         0
Promo                        0
StateHoliday                 0
SchoolHoliday                0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64

In [50]:
test.shape

(41088, 8)

In [51]:
test = test.merge(stores, on='Store', how='left')

In [52]:
test.shape

(41088, 17)

In [53]:
test.isnull().sum()

Id                           0
Store                        0
DayOfWeek                    0
Date                         0
Open                         0
Promo                        0
StateHoliday                 0
SchoolHoliday                0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64

In [56]:
train.head(1)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,UNK

In [54]:
y = train['Sales'].values
Y = np.log1p(y)

In [57]:
len(set(train['Store'].values))

1115

In [58]:
train = train.drop(['Sales'], axis=1)
test = test.drop(['Id'], axis=1)

In [59]:
train.shape, test.shape

((1017209, 17), (41088, 16))

In [60]:
set(train.columns) - set(test.columns)

{'Customers'}

In [61]:
train = train.drop(['Customers'], axis=1)

In [62]:
train.shape, test.shape

((1017209, 16), (41088, 16))

In [66]:
# Taken from fast.ai course
import re
def add_datepart(df, fldname, drop=True):
    fld = df[fldname]
    if not np.issubdtype(fld.dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True)
    targ_pre = re.sub('[Dd]ate$', '', fldname)
    for n in ('Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start'):
        df[targ_pre+n] = getattr(fld.dt,n.lower())
    df[targ_pre+'Elapsed'] = fld.astype(np.int64) // 10**9
    if drop: df.drop(fldname, axis=1, inplace=True)

In [67]:
add_datepart(train, 'Date')
add_datepart(test, 'Date')

In [68]:
train.head()

,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,1,5,1,1,0,1,c,a,1270.0,9.0,...,31,4,212,True,False,False,False,False,False,1438300800
1,2,5,1,1,0,1,a,a,570.0,11.0,...,31,4,212,True,False,False,False,False,False,1438300800
2,3,5,1,1,0,1,a,a,14130.0,12.0,...,31,4,212,True,False,False,False,False,False,1438300800
3,4,5,1,1,0,1,c,c,620.0,9.0,...,31,4,212,True,False,False,False,False,False,1438300800
4,5,5,1,1,0,1,a,a,29910.0,4.0,...,31,4,212,True,False,False,False,False,False,1438300800

[Embeddings for Categorical Data](https://medium.com/@satnalikamayank12/on-learning-embeddings-for-categorical-data-using-keras-165ff2773fc9)

In [ ]:
# for categoical_var in categoical_vars :
     
#     model = Sequential()
#     no_of_unique_cat  = df_train[categorical_var].nunique()
#     embedding_size = min(np.ceil((no_of_unique_cat)/2), 50 )
#     embedding_size = int(embedding_size)
#     vocab  = no_of_unique_cat+1
#     model.add( Embedding(vocab ,embedding_size, input_length = 1 ))
#     model.add(Reshape(target_shape=(embedding_size,)))
#     models.append( model )
    
    # then dense layers and so on

In [ ]:
# columns = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [ ]:
# bwd = df[['Store']+columns].sort_index().groupby("Store").rolling(7, min_periods=1).sum
# fwd = df[['Store']+columns].sort_index(ascending=False
#                                       ).groupby("Store").rolling(7, min_periods=1).sum()

In [ ]:
# bwd.drop('Store',1,inplace=True)
# bwd.reset_index(inplace=True)

# fwd.drop('Store',1,inplace=True)
# fwd.reset_index(inplace=True)

# df.reset_index(inplace=True)

# # Now we'll merge these values onto the df.
# df = df.merge(bwd, 'left', ['Date', 'Store'], suffixes=['', '_bw'])
# df = df.merge(fwd, 'left', ['Date', 'Store'], suffixes=['', '_fw'])

# df.drop(columns,1,inplace=True)